/* 
    Created on : 2017/03/09, 13:31:31
    Author     : Rie_Mastui
　　Common CSS
*/

body{
    font-family: メイリオ,Osaka;
    font-size: 15pt;
    
}

h1{
    font-size: 1.5em;
    margin:auto;
}

header{
    text-align: center;
    height: 50px;
    
}

header li{
    float: right;
    display: block;
    width: 100px;
}

.contents{
    background-image:url(./img/login/factory.png);
    background-repeat: no-repeat;
    max-width: 1280px ;
    height: 597px;
}

#right{
    float: right;


}

#left{
    float: left;
    background-color: blue;
}

.right{
    
    margin-right: 250px;
    
}

.panel{
  margin: 0px;
 
}

p{ 
    line-height: 0px;
}

.inputbutton{ 
   height: 30px;
   width: 100px; 
   margin-left: 300px;
   border-radius: 5px;
}


#left .menubutton{
   
   height: 50px;
   width: 250px;
   border-radius: 10px;
   

}

#right .menubutton{
 
   height: 120px;
   width: 150px;
   border-radius: 10px;
   
}


.error{
   font-size: 0.7em;
   color: red;
}