/* 
    Created on : 2017/03/09, 13:31:31
    Author     : Rie_Mastui
　　Common CSS
*/

body{
    font-family: メイリオ,Osaka;
    font-size: 15pt;
}

h1{
    font-size: 1.5em;
    margin:auto;
    text-align: center;
    padding: 10px;
}

header{
    text-align: center;
    height: 30px; 
    padding: 15px;
    background-color: black;
    color: white;
}

header li .logo{
    float: right;
}

header li{
    float: right;
    display: block;
    width: 100px;
}

.contents{
    background-image:url(./img/login/factory.png);
    background-color: whitesmoke;
    background-repeat: no-repeat;
    max-width: 1280px ;
    height: 597px;
    padding: 10px;
}

.login-contents-wrapper{
    width: 400px;
    height: 400px;
    margin:10px auto;
    background-color:paleturquoise;
    border-radius: 10px;
}

.login-contents{
    text-align: center;
    padding: 10px;
    height: 380px;
}


#right{
}

#left{
}

.right{
}

.panel{
}

p{
}

form {   
}

table {
}

.inputbutton{
   height: 30px;
   width: 100px; 
   border-radius: 5px;
}

#left .menubutton{
   height: 50px;
   width: 250px;
   border-radius: 10px;
}

#right .menubutton{
   height: 120px;
   width: 150px;
   border-radius: 10px; 
}

.error{
   font-size: 0.7em;
   color: red;
}